* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #58595A;
    --color-bg-variant: rgb(102, 186, 203);
    --color-primary: #D5F3FE;
    --color-primary-variant: #99dbf3;
    --color-secondary:rgb(196, 9, 202);
    --color-white:#fff;
    --color-light:rgba(255,255,255,0.5);
    --swiper-navigation-color: rgb(102, 186, 203);

    --container-width-sm: 75%;
    --container-width-md: 86%;
    --container-width-lg: 90%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color:var(--color-white);
    background-color: var(--color-bg);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23343238' fill-opacity='0.08'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

.container {
    width : var(--container-width-sm);
    margin: 0 auto;
}

section {
    margin-top: 5rem;
    height: 100vh;
}

section > h2, section > h5 {
    text-align: center;
}

a {
    transition: all 2s;
    color: var(--color-bg-variant);
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

a:hover {
    color: var(--color-white);
}

.btn {
   width: max-content;
   display: inline-block;
   padding: 0.75rem 1.2rem; 
   border-radius: 0.4rem;
   border: 1px solid;
   transition: all 1s;
}

.btn-primary {
    background-color: var(--color-bg-variant);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--color-bg-variant);
    border-color: var(--color-bg-variant);
}

.btn-secondary {
    background-color: transparent;
    color: var(--color-bg-variant);
    border-color: var(--color-bg-variant);
}

.btn-secondary:hover {
    background-color: var(--color-bg-variant);
    color: var(--color-bg);
    border-color: transparent;
}

.text-light {
    color: var(--color-light);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-lg);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}